* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    color: #222;
}

/* MENU */
.menu {
    background: #e30613;
    padding: 15px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.logo span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

/* INTRO */
.intro h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.intro p {
    color: #555;
    margin-bottom: 10px;
}

.destaque {
    color: #e30613;
    font-weight: bold;
}

/* TEMAS */
.temas {
    margin-top: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARD */
.card {
    width: 260px;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    background: #fff;

    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* IMAGEM */
.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

/* TEXTO */
.card-info {
    padding: 15px;
}

.card-info h2 {
    font-size: 18px;
    color: #222;
}

/* HOVER */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}